body {
  background-image: url('images/dragon_bg.jpg');
  background-size: cover;
  /* Make image cover full screen */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}


#text {
  background-color: #242442;
  color: #ffffff;
  padding: 10px;
}

#game {
  background-color: #fcc1c1d2;
  color: #ffffff;
  padding: 50px;
  min-width: 10%;
  max-width: 500px;
  width: 80%;
  box-sizing: border-box;
  border-radius: 8px;
}


#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}